.listItems:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #eee;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

li, ol {
  list-style: none;
}

button:focus, input:focus, a:focus {
  outline: none;
}

/*------------------- Component -------------------*/
.title_h2 {
  font-size: 24px;
  color: #14375b;
  line-height: 1.8;
  font-weight: bold;
}

/*------------------- List -------------------*/
/* Effect for text menu */
@-webkit-keyframes mouseonListItem {
  0% {
    opacity: 1;
    color: #777;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  49.9% {
    opacity: 0;
    color: #777;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    opacity: 0;
    color: #0446a1;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    color: #0446a1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes mouseonListItem {
  0% {
    opacity: 1;
    color: #777;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  49.9% {
    opacity: 0;
    color: #777;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    opacity: 0;
    color: #0446a1;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    color: #0446a1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Effect for button menu */
@-webkit-keyframes mouseonButtonStr {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  49.9% {
    opacity: 0;
    -webkit-transform: translateX(5px) scale(0.5);
    transform: translateX(5px) scale(0.5);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-5px) scale(1.6);
    transform: translateX(-5px) scale(1.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes mouseonButtonStr {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  49.9% {
    opacity: 0;
    -webkit-transform: translateX(5px) scale(0.5);
    transform: translateX(5px) scale(0.5);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-5px) scale(1.6);
    transform: translateX(-5px) scale(1.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

body {
  min-height: 150vh;
}

/*======================================
        Header
======================================*/
#header {
  position: fixed;
  z-index: 99;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#header .logo-nav {
  cursor: pointer;
  width: 200px;
  padding: 30px 50px;
  color: #222;
  font-weight: bold;
}

#header .logo-nav:hover .text-menu span {
  -webkit-animation-name: mouseonButtonStr;
  animation-name: mouseonButtonStr;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#header .logo-nav:hover .text-menu span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#header .logo-nav:hover .text-menu span:nth-of-type(2) {
  -webkit-animation-delay: 30ms;
  animation-delay: 30ms;
}

#header .logo-nav:hover .text-menu span:nth-of-type(3) {
  -webkit-animation-delay: 60ms;
  animation-delay: 60ms;
}

#header .logo-nav:hover .text-menu span:nth-of-type(4) {
  -webkit-animation-delay: 90ms;
  animation-delay: 90ms;
}

#header .btn-menu-top {
  position: relative;
}

#header .btn-menu-top span {
  background: #222;
  display: inline-block;
  width: 20px;
  position: absolute;
  height: 2px;
  top: 0;
  left: -35px;
}

#header .btn-menu-top span:nth-child(2) {
  top: 7px;
}

#header .btn-menu-top span:nth-child(3) {
  top: 14px;
}

#header .btn-menu-top.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
}

#header .btn-menu-top.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

#header .btn-menu-top.active span:nth-child(2) {
  display: none;
}

#header .bg-header {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  line-height: 75px;
  font-size: 20px;
  color: #000;
  background: yellow;
}

#header .bg-header a {
  color: #000;
  margin: 0 20px;
}

#header .button-header {
  width: 150px;
  background: #14375b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#header .button-header a {
  color: #fff;
  padding: 30px 0 31px;
  text-align: center;
  width: 100%;
  display: block;
}

/*------------------------------------

            Menu

------------------------------------*/
.background-menu.open {
  z-index: 5;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gnav {
  -webkit-transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  -webkit-transform-origin: left center 0;
  -ms-transform-origin: left center 0;
  transform-origin: left center 0;
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  width: 27%;
  position: fixed;
  top: 75px;
  left: 0;
  z-index: 9;
  bottom: 0;
  background: #eee;
  color: #333;
  letter-spacing: 0.03em;
  padding: 40px 5%;
}

.gnav.active {
  -webkit-transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gnav a {
  color: #333;
}

.gnav .gnav-btn-icon {
  z-index: 99999;
  position: absolute;
  left: -30px;
}

.gnav .gnav-btn-icon span {
  z-index: 5;
  position: relative;
  background: gray;
  top: -4px;
  width: 11px;
  height: 1px;
  display: inline-block;
}

.gnav .gnav-btn-icon span:last-child {
  position: absolute;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 0;
  top: 6px;
}

.gnav .gnav-btn-icon.light span {
  background: #fff;
}

.gnav .gnav-btn-icon.light:after {
  content: "";
  top: -9px;
  left: -10px;
  position: absolute;
  background: #14375b;
  border-radius: 50%;
  width: 31px;
  height: 31px;
}

.gnav .group-level1 {
  position: relative;
  z-index: 3;
  margin: auto;
}

.gnav .group-level1 > li {
  position: relative;
  display: block;
  width: 100%;
}

.gnav .group-level1 > li > a,
.gnav .group-level1 > li > span {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px 0 18px;
}

.gnav .group-list {
  position: absolute;
  padding: 40px 15%;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: left center 0;
  -ms-transform-origin: left center 0;
  transform-origin: left center 0;
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.gnav .group-list.active {
  -webkit-transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gnav .group-level2 {
  background: #f8f8f8;
  left: 100%;
  -webkit-transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

.gnav .gnav-sub-level2 {
  position: absolute;
  top: 4%;
  left: 25%;
}

.gnav .gnav-sub-level2 li {
  opacity: 0;
  -webkit-transform: translateX(-1em);
  -ms-transform: translateX(-1em);
  transform: translateX(-1em);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  display: block;
  width: 100%;
}

.gnav .gnav-sub-level2 li > a,
.gnav .gnav-sub-level2 li > span {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px 0 18px;
}

.gnav .group-level3 {
  background: #ffffff;
  left: 200%;
  -webkit-transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

.gnav .gnav-sub-level3 {
  position: absolute;
  top: 4%;
  left: 15%;
}

.gnav .gnav-sub-level3 li {
  opacity: 0;
  -webkit-transform: translateX(-1em);
  -ms-transform: translateX(-1em);
  transform: translateX(-1em);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  display: block;
  width: 100%;
}

.gnav .gnav-sub-level3 li > a,
.gnav .gnav-sub-level3 li > span {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px 0 18px;
}

.gnav .open-items {
  z-index: 9;
}

.gnav .open-items li {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.gnav .open-items li:nth-of-type(1) {
  -webkit-transition-delay: 50ms;
  -o-transition-delay: 50ms;
  transition-delay: 50ms;
}

.gnav .open-items li:nth-of-type(2) {
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}

.gnav .open-items li:nth-of-type(3) {
  -webkit-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  transition-delay: 150ms;
}

.gnav .open-items li:nth-of-type(4) {
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}

.gnav .open-items li:nth-of-type(5) {
  -webkit-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  transition-delay: 250ms;
}

.gnav .open-items li:nth-of-type(6) {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

.gnav .open-items li:nth-of-type(7) {
  -webkit-transition-delay: 350ms;
  -o-transition-delay: 350ms;
  transition-delay: 350ms;
}

.gnav .open-items li:nth-of-type(8) {
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
}

.gnav .open-items li:nth-of-type(9) {
  -webkit-transition-delay: 450ms;
  -o-transition-delay: 450ms;
  transition-delay: 450ms;
}

.gnav .open-items li:nth-of-type(10) {
  -webkit-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

.gnav .open-items li:nth-of-type(11) {
  -webkit-transition-delay: 550ms;
  -o-transition-delay: 550ms;
  transition-delay: 550ms;
}

.gnav .open-items li:nth-of-type(12) {
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms;
}

.gnav .open-items li:nth-of-type(13) {
  -webkit-transition-delay: 650ms;
  -o-transition-delay: 650ms;
  transition-delay: 650ms;
}

.gnav .open-items li:nth-of-type(14) {
  -webkit-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}

.gnav .open-items li:nth-of-type(15) {
  -webkit-transition-delay: 750ms;
  -o-transition-delay: 750ms;
  transition-delay: 750ms;
}

.gnav .open-items li:nth-of-type(16) {
  -webkit-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  transition-delay: 800ms;
}

.gnav .open-items li:nth-of-type(17) {
  -webkit-transition-delay: 850ms;
  -o-transition-delay: 850ms;
  transition-delay: 850ms;
}

.gnav .open-items li:nth-of-type(18) {
  -webkit-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  transition-delay: 900ms;
}

.gnav .open-items li:nth-of-type(19) {
  -webkit-transition-delay: 950ms;
  -o-transition-delay: 950ms;
  transition-delay: 950ms;
}

.gnav .open-items li:nth-of-type(20) {
  -webkit-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

/* Hover fill color text left to right */
.effect-text:hover {
  -webkit-transition-duration: 0ms;
  -o-transition-duration: 0ms;
  transition-duration: 0ms;
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}

.effect-text:hover .text-gnav span {
  -webkit-animation-name: mouseonListItem;
  animation-name: mouseonListItem;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.effect-text:hover .text-gnav span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.effect-text:hover .text-gnav span:nth-of-type(2) {
  -webkit-animation-delay: 40ms;
  animation-delay: 40ms;
}

.effect-text:hover .text-gnav span:nth-of-type(3) {
  -webkit-animation-delay: 60ms;
  animation-delay: 60ms;
}

.effect-text:hover .text-gnav span:nth-of-type(4) {
  -webkit-animation-delay: 80ms;
  animation-delay: 80ms;
}

.effect-text:hover .text-gnav span:nth-of-type(5) {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.effect-text:hover .text-gnav span:nth-of-type(6) {
  -webkit-animation-delay: 120ms;
  animation-delay: 120ms;
}

.effect-text:hover .text-gnav span:nth-of-type(7) {
  -webkit-animation-delay: 140ms;
  animation-delay: 140ms;
}

.effect-text:hover .text-gnav span:nth-of-type(8) {
  -webkit-animation-delay: 160ms;
  animation-delay: 160ms;
}

.effect-text:hover .text-gnav span:nth-of-type(9) {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;
}

.effect-text:hover .text-gnav span:nth-of-type(10) {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.effect-text:hover .text-gnav span:nth-of-type(11) {
  -webkit-animation-delay: 220ms;
  animation-delay: 220ms;
}

.effect-text:hover .text-gnav span:nth-of-type(12) {
  -webkit-animation-delay: 240ms;
  animation-delay: 240ms;
}

.effect-text:hover .text-gnav span:nth-of-type(13) {
  -webkit-animation-delay: 260ms;
  animation-delay: 260ms;
}

.effect-text:hover .text-gnav span:nth-of-type(14) {
  -webkit-animation-delay: 280ms;
  animation-delay: 280ms;
}

.effect-text:hover .text-gnav span:nth-of-type(15) {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.effect-text:hover .text-gnav span:nth-of-type(16) {
  -webkit-animation-delay: 320ms;
  animation-delay: 320ms;
}

.effect-text:hover .text-gnav span:nth-of-type(17) {
  -webkit-animation-delay: 340ms;
  animation-delay: 340ms;
}

.effect-text:hover .text-gnav span:nth-of-type(18) {
  -webkit-animation-delay: 360ms;
  animation-delay: 360ms;
}

.effect-text:hover .text-gnav span:nth-of-type(19) {
  -webkit-animation-delay: 380ms;
  animation-delay: 380ms;
}

.effect-text:hover .text-gnav span:nth-of-type(20) {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.effect-text:hover .text-gnav span:nth-of-type(21) {
  -webkit-animation-delay: 420ms;
  animation-delay: 420ms;
}

.effect-text:hover .text-gnav span:nth-of-type(22) {
  -webkit-animation-delay: 440ms;
  animation-delay: 440ms;
}

.effect-text:hover .text-gnav span:nth-of-type(23) {
  -webkit-animation-delay: 460ms;
  animation-delay: 460ms;
}

.effect-text:hover .text-gnav span:nth-of-type(24) {
  -webkit-animation-delay: 480ms;
  animation-delay: 480ms;
}

.effect-text:hover .text-gnav span:nth-of-type(25) {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.effect-text:hover .text-gnav span:nth-of-type(26) {
  -webkit-animation-delay: 520ms;
  animation-delay: 520ms;
}

.effect-text:hover .text-gnav span:nth-of-type(27) {
  -webkit-animation-delay: 540ms;
  animation-delay: 540ms;
}

.effect-text:hover .text-gnav span:nth-of-type(28) {
  -webkit-animation-delay: 560ms;
  animation-delay: 560ms;
}

.effect-text:hover .text-gnav span:nth-of-type(29) {
  -webkit-animation-delay: 580ms;
  animation-delay: 580ms;
}

.effect-text:hover .text-gnav span:nth-of-type(30) {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

/*======================================
        Helper
======================================*/
.is_pc {
  display: inherit;
}

.is_sp {
  display: none;
}

.is_hidden {
  display: none;
}

/*-----------------------
        Responsive for device < 768px
-----------------------------------------*/
@media screen and (max-width: 768px) {
  #header .bg-header {
    width: 65%;
  }
  #header .logo-nav {
    width: 35%;
  }
  #header .text-menu {
    padding-left: 35px;
  }
  #header .btn-menu-top span {
    left: 0;
  }
  .gnav {
    padding: 40px 4% 40px 6%;
  }
}

@media screen and (max-width: 650px) {
  .is_pc {
    display: none;
  }
  .is_sp {
    display: inherit;
  }
  .gnav {
    width: 60px;
  }
  .gnav .gnav-btn-icon {
    left: calc(50% - 8px);
  }
  .gnav .group-list {
    padding: 40px 0;
  }
  .gnav .group-level2 .gnav-btn-icon {
    left: 8px;
  }
  .gnav .gnav-sub-level2 .text-gnav,
  .gnav .group-level1 .text-gnav {
    display: none;
  }
  .gnav .group-level3 {
    width: 300px;
  }
  .gnav .group-level3 .gnav-sub-level3 {
    left: 20px;
  }
}
