/*======================================
        Header
======================================*/
#header {
    position: fixed;
    z-index: 99;
    background: $color-a;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo-nav {
        cursor: pointer;
        width: 200px;
        padding: 30px 50px;
        color: $color-e;
        font-weight: bold;

        &:hover {
            .text-menu span {
        		animation-name: mouseonButtonStr;
        		animation-duration: .3s;
        		animation-timing-function: cubic-bezier(.785, .135, .15, .86);
                animation-fill-mode: both;
                
                &:nth-of-type(1) {
            		animation-delay: 0s;
                }
                
            	&:nth-of-type(2) {
            		animation-delay: 30ms;
                }
                
            	&:nth-of-type(3) {
            		animation-delay: 60ms;
                }
                
            	&:nth-of-type(4) {
            		animation-delay: 90ms;
            	}
            }
        }
    }
    
    .btn-menu-top {
        position: relative;

        span {
            background: $color-e;
            display: inline-block;
            width: 20px;
            position: absolute;
            height: 2px;
            top: 0;
            left: -35px;

            &:nth-child(2) {
                top: 7px;
            }

            &:nth-child(3) {
                top: 14px;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 8px;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 8px;

                }

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .bg-header {
        flex: auto;
        line-height: 75px;
        font-size: 20px;
        color: $color-d;
        background: yellow;

        a {
            color: $color-d;
            margin: 0 20px;
        }
    }

    .button-header {
        width: 150px;
        background: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: $color-a;
            padding: 30px 0 31px;
            text-align: center;
            width: 100%;
            display: block;
        }
    }
}
