/*------------------------------------

            Menu

------------------------------------*/
.background-menu {
    &.open {
        z-index: 5;
        background: rgba($color-d, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.gnav {
    transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    transform-origin: left center 0;
    transition-duration: 0.6s;
    width: 27%;
    position: fixed;
    top: 75px;
    left: 0;
    z-index: 9;
    bottom: 0;
    background: $color-c;
    color: $color-b;
    letter-spacing: 0.03em;
    padding: 40px 5%;

    &.active {
        transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transition-timing-function: cubic-bezier(.075,.82,.165,1);
    }

    a {
        color: $color-b;
    }

    .gnav-btn-icon {
        z-index: 99999;
        position: absolute;
        left: -30px;

        span {
            z-index: 5;
            position: relative;
            background: gray;
            top: -4px;
            width: 11px;
            height: 1px;
            display: inline-block;

            &:last-child {
                position: absolute;
                transform: rotate(90deg);
                left: 0;
                top: 6px;
            }

        }

        &.light {
            span {
                background: $color-a;
            }

            &:after {
                content: "";
                top: -9px;
                left: -10px;
                position: absolute;
                background: $color-primary;
                border-radius: 50%;
                width: 31px;
                height: 31px;
            }
        }
    }

    .group-level1 {
        position: relative;
        z-index: 3;
        margin: auto;

        > li {
            position: relative;
            display: block;
            width: 100%;

            > a,
            > span {
                position: relative;
                display: block;
                width: 100%;
                padding: 20px 0 18px;
            }
        }
    }

    .group-list {
        position: absolute;
        padding: 40px 15%;
        top: 0;
        width: 100%;
        height: 100%;
        transform-origin: left center 0;
        transition-duration: 0.6s;

        &.active {
            transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transition-timing-function: cubic-bezier(.075,.82,.165,1);
        }

    }

    .group-level2 {
        background: #f8f8f8;
        left: 100%;
        transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    }

    .gnav-sub-level2 {
        position: absolute;
        top: 4%;
        left: 25%;

        li {
        	opacity: 0;
        	transform: translateX(-1em);
        	transition-timing-function: cubic-bezier(.075, .82, .165, 1);
            position: relative;
            display: block;
            width: 100%;

            > a,
            > span {
                position: relative;
                display: block;
                width: 100%;
                padding: 20px 0 18px;
            }

        }

    }

    .group-level3 {
        background: #ffffff;
        left: 200%;
        transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    }

    .gnav-sub-level3 {
        position: absolute;
        top: 4%;
        left: 15%;

        li {
        	opacity: 0;
        	transform: translateX(-1em);
        	transition-timing-function: cubic-bezier(.075, .82, .165, 1);
            position: relative;
            display: block;
            width: 100%;

            > a,
            > span {
                position: relative;
                display: block;
                width: 100%;
                padding: 20px 0 18px;
            }

        }

    }

    .open-items {
        z-index: 9;

        li {
            opacity: 1;
            transform: translateX(0);

            @for $i from 1 through 20 {
                &:nth-of-type(#{$i} ){
                    transition-delay: 50ms * $i;
                }
            }
        }
    }
}


/* Hover fill color text left to right */
.effect-text:hover {
    transition-duration: 0ms;
    transition-delay: 0ms;
    .text-gnav {

        span {
    		animation-name: mouseonListItem;
    		animation-duration: .2s;
    		animation-timing-function: cubic-bezier(.785, .135, .15, .86);
            animation-fill-mode: both;
            
            &:nth-of-type(1) {
            	animation-delay: 0s
            }

            @for $i from 2 through 30 {
                &:nth-of-type(#{$i}) {
                    animation-delay: 20ms * $i;
                }
            }
        }
    }
}

