/*------------------- Component -------------------*/
// /*------------------- Typography -------------------*/
.title_h2 {
    font-size: 24px;
    color: $color-primary;
    line-height: 1.8;
    font-weight: bold;
}
.title_h3 {
    // font-size: 24px;
    // line-height: 1.8;
    // color: $color-primary;
    // font-weight: bold;
}
.title_A {
    // font-size: 24px;
    // color: $color-primary;
    // line-height: 1.8;
    // font-weight: bold;
}
.title_B {
    // font-size: 24px;
    // line-height: 1.8;
    // color: $color-primary;
    // font-weight: bold;
}
.text {
    // padding:
    // font-size: ;
    // color:
}

// /*------------------- Form -------------------*/
input {
    // padding:
    // border:
    &:focus {

    }
}
select {
    // padding:
    // border:
}
textarea {
    // padding:
    // border:
}
.btn {
    // padding:
    // border:
    // background:
    // font-size:
    // color:
}

/*------------------- List -------------------*/
.listItems {
    @extend %clearfix;
}

/* Effect for text menu */
@keyframes mouseonListItem {
	0% {
		opacity: 1;
		color: #777;
		transform: translateX(0);
	}
	49.9% {
		opacity: 0;
		color: #777;
		transform: translateX(5px);
	}
	50% {
		opacity: 0;
		color: #0446a1;
		transform: translateX(-5px);
	}
	100% {
		opacity: 1;
		color: #0446a1;
		transform: translateX(0);
	}
}
/* Effect for button menu */
@keyframes mouseonButtonStr {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	49.9% {
		opacity: 0;
		transform: translateX(5px) scale(.5);
	}
	50% {
		opacity: 0;
		transform: translateX(-5px) scale(1.6);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

body {
    min-height: 150vh;
}
