body {
    font-family: $font-body;
    color: $color-c;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    transition: all 400ms;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

li, ol {
    list-style: none;
}

button, input, a {
    &:focus {
        outline: none;
    }
}

