// **********************************
//   font-family
// **********************************
$font-body: "Roboto", sans-serif;
$font-awesome: "FontAwesome";

// **********************************
//   COLOR
// **********************************
// Brand Color
$color-primary: #14375b;

// Application Color
$color-a: #fff;
$color-b: #333;
$color-c: #eee;
$color-d: #000;
$color-e: #222;


// **********************************
//   EXTENDS
// **********************************

%clearfix {
    &:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
}

%padding_title {
    padding-left: 3%;
    padding-right: 3%;
}

%padding_text {
    padding-left: 3%;
    padding-right: 3%;
}

%duration {
    transition-duration: 400ms;
}
